<link rel="stylesheet" href="/css/sideBar.css">
<div class="sidebar">
  <div>
    <div class="sidebar-header">
      <i class="bi bi-journal-bookmark-fill"></i>
      LibraryMS
    </div>
    <ul class="sidebar-menu">
      <li><a href="/show" class="active"><i class="bi bi-speedometer2"></i> Dashboard</a></li>
      <li><a href="/"><i class="bi bi-plus-circle"></i> Add New Book</a></li>
      <li><a href="/show"><i class="bi bi-box-arrow-in-right"></i> Show All Book</a></li>
      <li><a href="#"><i class="bi bi-arrow-return-left"></i> Return Book</a></li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <button class="btn btn-login w-100">Login</button>
    <button class="btn btn-signup w-100">Sign Up</button>
  </div>
</div>
